<html>
<title>music room</title>
<link rel="stylesheet" href="/css/lobby.css" />
<body>
<div id="lobby-wrap">
	<header>
		<div>welcome to music room</div>
		<div id="name">matt restine - <a target="_blank" href="http://eventlistening.com">eventlistening.com</a></div>
	</header>
	<div id="list-wrap">
		<form id="newroom-form" action="/newroom" method="post">
			<input type="text" id="newroom-form-name-field" name="name" placeholder="room name" maxlength="30" />
			<input type="submit" value="create" />
		</form>
		<div id="room-list-wrap"></div>
	</div>
	<div id="about-wrap">
		<p>Music Room allows you to create shared music with anyone.  If it's on YouTube, you can play it here!</p>
		<p>Queue up your favorite tracks for the rest of the room to hear.  Listen to what your peers have to offer.</p>
		<p>Song queues will hold up to 10 tracks.</p>
		<p>Everything is as anonymous as can be.  There's no signing up.</p>
		<p>Creating a room is very easy.  You don't even have to name it.  An empty room will wait 10 seconds then expire. There is a max of 100 rooms.</p>
		<p>When more than half the room is done with a song, the next song will start.  You can vote down a song by clicking the red text in the upper right corner of the queued song.  There, you will see how many others have finished the song or have voted against it. When you leave the room, your votes go, too.</p>
		<p>This was inspired by a Chrome extension called Streamus, which allows you to create a queue of YouTube music in Chrome.  I wanted to share a queue between peers, so I made this.</p>
	</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/lobby.js"></script>
</body>
</html>