<div id="room-count"><%= list.length %> current room(s) (refreshed every 10s)</div>
<% if (list.length >= 100) { %>
	<div id="max-rooms">max rooms</div>
<% } else { %>
	<div id="create-toggle">[+]</div>
<% } %>
<% for (var i = 0; i < list.length; i++) { %>
	<div class="room-list-item" onclick="location.href='<%= list[i].id %>'">
		<div class="room-name"><%= list[i].name %></div>
		<div class="room-user-count"><%= list[i].users.length %> user(s)</div>
		<div class="room-playing">playing: <% if (list[i].queue[0]) { %><%=list[i].queue[0].title %><% } %></div>
	</div>
<% } %>