<html>
<title>music room</title>
<link rel="stylesheet" href="/css/room.css" />
<body>
<div id="loading-overlay">
	<img src="/img/progress.gif"></img>
</div>
<div id="bg"></div>
<div id="room-wrap">
	<header>
		<div><a href="/">lobby</a></div>
		<div id="room-name">-</div>
		<div id="user-count">-</div>
		<div id="name">matt restine - <a target="_blank" href="http://eventlistening.com">eventlistening.com</a></div>
	</header>
	<div id="queue-wrap">
		<div id="volume-toggle"><img src="/img/volume.ico" alt="volume" /></div>
		<div id="volume-wrap"><input type="range" id="volume" min="0" max="100" alt="volume" /></div>
		<div id="queue-state">queue is empty - add something by searching</div>
	</div>
	<div id="search-wrap">
		<input type="text" placeholder="search" id="query" disabled="disabled" />
		<div id="search-container"></div>
	</div>
</div>
<div id="player">
	<object type="application/x-shockwave-flash" id="ytplayer" data="http://www.youtube.com/v/dQw4w9WgXcQ?enablejsapi=1&amp;playerapiid=ytplayer" width="435" height="350">
		<param name="allowScriptAccess" value="always">
		<param name="wmode" value="transparent">
		<embed .... wmode="transparent">
	</object>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">var roomId = <%= room.id %></script>
<script src="/js/swfobject.js"></script>
<script src="/js/room.js" type="text/javascript"></script>
<script src="https://apis.google.com/js/client.js?onload=loadAPIClientInterfaces"></script>
</body>
</html>