* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #224;
}
html, body {
	font-family: "Gill-Sans", Helvetica, Arial;
	height: 100%;
}
header {
	padding: 20px 20px 0;
	height: 50px;
	margin-bottom: 20px;
	border-bottom: 1px solid #889;
}
a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}
header > div {
	display: inline-block;
	margin-right: 50px;
}
ul {
	list-style-type: none;
	padding-left: 10px;
}

#lobby-wrap {
	width: 960px;
	margin: 0 auto;
}

#newroom-form {
	position: absolute;
	top: 30px;
	right: 10px;
	display: none;
	background: #fff;
	padding: 20px;
	z-index: 9;
	border: 1px solid #ccc;
}

#list-wrap,
#about-wrap {
	display: inline-block;
	width: 470px;
	padding: 10px;
	float: left;
	height: calc(100% - 90px);
	height: -moz-calc(100% - 90px);
	height: -webkit-calc(100% - 90px);
}

#list-wrap {
	overflow-y: auto;
	position: relative;
}
.room-list-item {
	cursor: pointer;
	padding: 10px;
	position: relative;
	border-bottom: 1px solid #889
}
.room-list-item:last-of-type {
	border-bottom: none;
}
.room-list-item:hover {
	background: #eee;
}
.room-name {
	font-weight: bold;
}
.room-user-count {
	position: absolute;
	top: 10px;
	right: 10px;
}
.room-playing {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#create-toggle,
#max-rooms {
	position: absolute;
	top: 10px;
	right: 10px;
}
#create-toggle:hover {
	color: #889;
	cursor: pointer;
}


#about-wrap {
	margin-left: 10px;
	padding-left: 20px !important;
	border-left: 1px solid #889;
	overflow-y: auto;
}
#about-wrap p {
	line-height: 1.4em;
	margin-bottom: 1em;
}


