* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #224;
}
html, body {
	font-family: "Gill-Sans", Helvetica, Arial;
	height: 100%;
}
header {
	padding: 20px 20px 0;
	height: 50px;
	margin-bottom: 20px;
	border-bottom: 1px solid #889;
}
a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}
header > div {
	display: inline-block;
	margin-right: 50px;
}

#bg {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background: #fff;
	z-index: -9;
}
#ytplayer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
}

#loading-overlay {
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 10;
}
#loading-overlay img {
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#room-wrap {
	width: 960px;
	margin: 0 auto;
}
#queue-wrap,
#search-wrap {
	display: inline-block;
	width: 470px;
	padding: 10px;
	float: left;
	height: calc(100% - 90px);
	height: -moz-calc(100% - 90px);
	height: -webkit-calc(100% - 90px);
}


#queue-wrap {
	overflow-y: auto;
	position: relative;
}
#volume-toggle {
	position: absolute;
	top: 10px;
	right: 10px;
}
#volume-toggle img {
	width: 16px;
}
#volume-wrap {
	position: absolute;
	top: 30px;
	right: 10px;
	background: #fff;
	display: none;
	padding: 10px;
	border: 1px solid #ccc;
	z-index: 11;
}
#volume {
	width: 100px;
}
.queue-row{
	padding: 10px;
	border-bottom: 1px solid #ccd;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.queue-row img {
	width: 48px;
	vertical-align: middle;
	margin-right: 10px;
}
.queue-first {
	font-weight: bold;
	background: #eee;
}
.queue-first hr {
	position: absolute;
	bottom: 3px;
	left: 0;
	right: 0;
}
.queue-row:last-of-type {
	border: none;
}
.queue-done {
	position: absolute;
	top: 5px;
	right: 10px;
	display: none;
	color: #d11;
	cursor: pointer;
	font-size: 0.7em;
	font-weight: normal;
}
.queue-row:hover .queue-done {
	display: inline-block;
}
.queue-done.clicked {
	color: #f77;
	display: inline-block;
	cursor: default;
}
.duration {
	font-weight: normal;
	color: #555;
	font-size: 0.7em;
	position: absolute;
	right: 10px;
	bottom: 5px;
}


#search-wrap {
	margin-left: 10px;
	padding-left: 20px !important;
	border-left: 1px solid #889;
}
#search-wrap input {
	width: 100%;
	font-size: 1.25em;
	padding: 10px 10px 0;
	border: none;
	border-bottom: 1px solid #889;
}
#search-wrap input:disabled {
	background: #eee;
}
#search-container {
	margin-top: 10px;
	font-size: 0.75em;
	overflow-y: auto;
	height: calc(100% - 46px);
	height: -moz-calc(100% - 46px);
	height: -webkit-calc(100% - 46px);
}
#search-container.searching {
	background: url('/img/progress.gif') no-repeat center;
}


.result-row {
	padding: 10px;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #ccd;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.result-row > img {
	width: 48px;
	vertical-align: middle;
	margin-right: 10px;
}
.result-row:last-of-type {
	border-bottom: none;
}
.result-row:hover {
	background: #eee;
	cursor: pointer;
}
